.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
    margin-top: 50px;
}

@media (max-width: 480px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project-card {
    background-color: var(--bg-secondary);
    padding: 2rem 1.75rem;
    border-radius: 4px;
    transition: var(--transition);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-7px);
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.folder-icon {
    color: var(--accent);
    font-size: 40px;
}

.project-title {
    color: var(--text-primary);
    font-size: 22px;
    margin-bottom: 10px;
    cursor: pointer;
}

.project-title:hover {
    color: var(--accent);
}

.project-description {
    color: var(--text-secondary);
    font-size: 17px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
}

.project-tech-list li {
    font-family: 'SF Mono', 'Fira Code', monospace;
    font-size: 12px;
    color: var(--text-secondary);
    margin-right: 15px;
    margin-bottom: 5px;
}

.project-links-bottom {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.project-links-bottom a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-family: 'SF Mono', 'Fira Code', monospace;
    color: var(--text-primary);
    transition: var(--transition);
}

.project-links-bottom a:hover {
    color: var(--accent);
}